h1, h2, h3, p {
	font-family: 'Roboto', "Microsoft JhengHei", "微軟正黑體", "Microsoft YaHei", "微软雅黑","新細明體", Arial, sans-serif;
}

body {
	background-color: #f8fdff;
}

.page-wide {
	padding: 0px !important;
}

.header {
	margin-top: 60px;
	margin-bottom: 20px;
	/* padding-top: 5%; */
}

.bright {
	color:white !important;
}

/* 每一個內容的區塊 */
.section {
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
}
.page-title {
	padding-bottom: 9px;
	margin-bottom: 40px;
    border-bottom: 1px solid #eee;
}


.process {
	margin-top: 10px;
}
.birght-green-bk {
	background-color: #5e9b8c;
}


/* background-color: #5e9b8c; */
/* background-color: #f9f9f9; */

.proc-title {
	margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.process p {
	font-size: 18px;
	line-height: 150%;
}

.process li {
	font-size: 16px;
}
/* #9B8E7E */
.content-tight {
	padding-bottom: 2px;
	padding-top: 2px;
	padding-right: 5%;
    padding-left: 5%;
}

#subject-text {
	border: 1px solid #ccc;
	overflow-x: scroll;
	color: black;
	font-size: 16px;
	height: 30px;
	width: 80%;
	margin-bottom: 25px;
    background-color: white;
}
#contentarea {
	border: 1px solid #ccc;
	overflow-y: scroll;
	color: black;
	font-size: 16px;
	height: 400px;
    min-height: 120%;
    background-color: white;
}

.step-intro {
	margin-top: 10%;
}

.sample-img {
	margin-top: 10%;
	width: 100%;
}